
.flex {
    display: flex;
}

.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    grid-auto-rows: minmax(50px, auto);
}

.text-center { text-align: center; }
.text-right { text-align: right; }

table {
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    padding: 10px;
    margin: 0;
    border: 1px solid black;
}

table img {
    max-width: 100px;
}

.alert {
    padding: 1rem;
    max-width: 600px;
    margin: 1rem auto;
    text-align: center;
}

.alert-danger {
    color: #811e27;
    background-color: #f8d6d9;
    border-color: #f1bfc4;
}
